@model IEnumerable<Prof_Me.Data.Models.UserProfile>
@using Prof_Me.Data;
@using Prof_Me.Data.Models;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

    <div class="row">
        @foreach (var item in Model)
        {
            if (item.FName != null)
            {
            <div class="card m-4" style="width: 18rem;">
                <img src="~/images/userimage/@Html.DisplayFor(modelItem => item.ProfileImage)" height="300" width="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FName) @Html.DisplayFor(modelItem => item.LName) (@Html.DisplayFor(modelItem => item.UserName))</h5>
                    @if (item.Universiy != null) {
                    <h6>Graduated from @Html.DisplayFor(modelItem => item.Universiy)</h6>
                    }
                    @if (item.Age != 0)
                    {
                   <h6> Age:  @Html.DisplayFor(modelItem => item.Age)</h6>
                    }
                    @if(item.Company != null){
                    <h6><b>@Html.DisplayFor(modelItem => item.Post) at @Html.DisplayFor(modelItem => item.Company)</b></h6>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Go To Profile</a>
                </div>
            </div>
            }
        }

        </div>


